@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding:0;
}
.body{
    font-family: 'Poppins', sans-serif;
    /* background: rgb(238,174,202); */
    background: radial-gradient(circle,rgba(238,174,202,1) 0%,rgba(148,187,233,1) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    background-color: rgb(49,47,47);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    color: #ffffff;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px rhba(255,255,255,0.7), 0px 0px 20px rgba(0,0,0,0.7);
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.clock ul li{
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
    inset: 5px;
}
.clock ul li span{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
}
.clock:after{
    content: '';
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
}
.needle{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.clock span{
    width: 5px;
    height: var(--h);
    background-color: var(--clr);
    position: absolute;
    border-radius: 5px;
}